name: build

on:
  pull_request:
  push:
    branches:
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: ubuntu-cloud-archive
          push: ${{ github.event_name != 'pull_request' }}
